/* MessageList.css */

.message-list-container {
  display: flex;
  height: 100%;
}

.user-list {
  flex: 1; /* Occupy 50% of the container width */
  overflow-y: auto; /* Enable vertical scrolling for the user list if it exceeds container height */
}

.message-content {
  flex: 1; /* Occupy 50% of the container width */
  overflow-y: auto; /* Enable vertical scrolling for the message content if it exceeds container height */
  /* Display the end */
  display: flex;
  flex-direction: column-reverse; /* Reverse the direction of the flex items */
  align-items: flex-end; /* Align items to the end of the container */
}

.user-list ul,
.message-content ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.user-list ul li,
.message-content ul li {
  cursor: pointer;
  padding: 10px;
}

.user-list ul li.selected {
  background-color: #3f3f3f;

}

.message-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.message-container .user-left {
  flex: 1;
  text-align: left;
}

.message-container .user-right {
  flex: 1;
  text-align: right;
}

.message-container .message-content {
  flex: 4;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user-left .message {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.user-right .message {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.message p {
  margin: 5px 0;
}
