/* Layout styles */
.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  .layout-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-y: auto;
  }
  
  .left-panel, .right-panel {
    padding: 0 20px;
    overflow-y: auto;
  }
  
  .left-panel {
    flex: 1;
  }
  
  .right-panel {
    width: 350px;
    }