/* Layout styles */
.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100svh;
    overflow: hidden; /* Disable scrolling */
  }
  
  .layout-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-y: auto;
  }
  
  .left-panel, .right-panel {
    padding: 0 20px;
    overflow-y: auto;
  }
  
  .left-panel {
    flex: 1;
  }
  
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
    }


    .right-panel {
        background-color: transparent; /* Remove the background color for mobile if it was set */
    }

}