/* src/components/Search/Search.css */

.search-container {
    padding-top: 10px;
    position: relative;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: rgb(67, 67, 67);
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
    z-index: 1000; /* Ensure it appears above other content */
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li.highlighted {
    background-color: #f0f0f0;
}

input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    padding: 8px;
    background-color: #272727;
}
